<div id="main" class="wrapper style4">
  <div id="content" class="container">
    <section>
    <div class="row">
        <div class="4u edit-left">
          <%=image_tag 'edit-left.jpg'%>
        </div>

      <div class="8u">
        <div class='top'>
          <h2>Edit <%= resource_name.to_s.humanize %></h2>
        </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="user">
            <%= f.email_field :email , :placeholder=>"電子信箱", autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="pw">
            <%= f.password_field :password, :placeholder=>"修改密碼", autocomplete: "off" %>
            
          </div>

          <div class="pw">
            <%= f.password_field :password_confirmation, :placeholder=>"修改密碼確認", autocomplete: "off" %>
          </div>

          <div class="pw">
            <%= f.password_field :current_password, :placeholder=>"輸入您目前的密碼，以確認您的身份", autocomplete: "off" %>
          </div>
        <div class="row">
          <div class="actions 2u">
            <%= f.submit "送出" %>
          </div>
        </div>
        <% end %>

        <div class="row">
          <div class="12u">
            <header class="major">
              <span class="byline"></span>
              以下動作會刪除您的帳號，請考慮再進行
            </header>
          </div>

          <div class="3u">
                <%= button_to "刪除帳號", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , :style => "background-color: #ff5555;" %>
          </div>

          <div class="2u">
                <%= button_to "返回", :back %>
          </div>

        </div>


      </div>
    </div>
  </section>
  </div>
</div>
