<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<%= render partial: 'news/left_section', locals: {categories: @categories}%>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%= user_nav_bar%>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2><%=@title%></h2>
						<!--span class="byline">副標題</span-->
					</header>
					<ul class="default">
						<%@news.each do |new_record|%>
						<li><%=new_record.created_at.strftime('%F')%> - <%=link_to new_record.title, news_path(new_record.id)%><li>
						<%end%>
					</ul>
				</section>
			</div>
		</div>
	</div>
	<%=paginate_bar @news%>
</div>