<style type="text/css">
    h2 {
    color: #a4bc4f;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 30px 0px 20px 25px
  }

  a {
    color: #46485c;
    text-decoration: none;
  }

  .login {
    margin: -184px 0px 0px -150px;
    background: #FFFFFF;
    border-radius: 3px;
  }

  .user, .pw{
    border-left: 5px solid transparent;
    transition: all 0.3s linear;
  }

  .user:hover, .pw:hover{
    background: #F0F0F0;
      border-left: 5px solid #8FB252;
      
  }

  input[type="text"], input[type="password"] {
    padding: 20px 0px;
    background: transparent;
    border: 0;
    outline: none;
    color: #222;
    margin: 0 auto;
    text-indent: 10px;
    font-weight: bold;
  }


  label {
    display: block;
    position: absolute;
    margin-top: 2px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    content: "";
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0px 0px 0px 2px #ccc;
  }

  #remember:checked ~ label[for=remember] {
    background: #b5cd60;
    border: 3px solid white;
    box-shadow: 0px 0px 0px 2px #b5cd60;
  }

  input[type="email"]{
    border:none;
  }

  .forgot {
    margin-top: 25px;
    display: block;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    color: #b5b5b5;
    padding: 0px 0px 25px 25px;
  }


  ::-webkit-input-placeholder {
    color: #777;
    font-weight: bold;
  }

  .remlog{
    border-bottom: 1px solid #ddd;
  }

  .remember {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 20px;
    line-height: 15px;
    margin-left: 25px;
    display: inline-block;
  }

  .forgot h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  .forgot a{
    color: #777;
  }

  .login-left{
    overflow: hidden;
    height: 400px;
    border-radius: 8px;
  }
  .login-left img{
    border-radius: 8px;
  }

</style>

<div id="main" class="wrapper style4">
  <div id="content" class="container">
    <section>
      <div class="row">
        <div class="4u login-left">
          <%=image_tag 'login-left.jpg'%>
        </div>

        <div class="8u">
          <div class='top'>
              <h2>登入</h2>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='user'>
              <%= f.email_field :email, :placeholder=>"電子信箱" , autofocus: true %>
            </div>
            <div class='pw'>
              <%= f.password_field :password, :placeholder=>"密碼" , autocomplete: "off" %>
            </div>


            <div class='remlog'>
              <% if devise_mapping.rememberable? -%>
              <div class='remember'>
                <%= f.check_box :remember_me %>
                記住密碼
              </div>
              <% end -%>
              <input type='submit' value='登入'>
            </div>
            <% end %>


            <div class='forgot'>
              <h3>
                忘記密碼？或是尚未加入會員？
              </h3>
              <%= render "devise/shared/links" %>
            </div>
        </div>
      </div>
            

  </section>
  </div>
</div>



