<style type="text/css">
  h2 {
    color: #a4bc4f;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 30px 0px 20px 25px
  }

  a {
    color: #46485c;
    text-decoration: none;
  }
</style>

<div id="main" class="wrapper style4">
  <div id="content" class="container">
    <section>
      <div class="row">
        <div class="4u login-left">
          <%=image_tag 'login-left.jpg'%>
        </div>

        <div class="8u">
          <div class='top'>
              <h2>登入</h2>
              <span class="byline"></span>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class='user'>
              <%= f.email_field :email, :placeholder=>"電子信箱" , autofocus: true %>
            </div>
            <div class='pw'>
              <%= f.password_field :password, :placeholder=>"密碼" , autocomplete: "off" %>
            </div>


            <div class='remlog'>
              <% if devise_mapping.rememberable? -%>
              <div class='remember'>
                <%= f.check_box :remember_me %>
                記住密碼
              </div>
              <% end -%>
              <input type='submit' value='登入'>
            </div>
            <% end %>


            <div class='forgot'>
              <h3>
                忘記密碼？或是尚未加入會員？
              </h3>
              <%= render "devise/shared/links" %>
            </div>
        </div>
      </div>
            

  </section>
  </div>
</div>



