<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>茂發花果園</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Header -->
				<div id="header">
					<div class="container">
							
						<!-- Logo -->
							<h1><a href="index.html" id="logo">茂發花果園</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="active"><%=link_to '首頁', root_path%></li>
									<li><%=link_to '線上購物', "shop"%></li>
									<li><%=link_to '關於茂發', "about"%></li>
									<li><%=link_to '線上服務', "service"%></li>
									<li><%=link_to '線上型錄', "catalog"%></li>
									<li><%=link_to '最新消息', "news"%></li>
									<li><%=link_to '最新消息', "contact"%></li>
									<li><%=link_to '購物流程', "step"%></li>
									<li><%=link_to '農友直銷', "direct_selling"%></li>
								</ul>
							</nav>
	
					</div>
				</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>茂發花果園</h2>
						<!--span>副標題</span-->
						<p>我們位於屏東台三線，提供您蔬果及花卉，及種植的諮詢與建議。</p>
					</section>
				</div>

			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2>店鋪概略敘述</h2>
								<span class="byline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
							</header>
						</div>
						<div class="6u">
							<h3>線上購物敘述</h3>
							<p>DLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<a href="#" class="button">帶我逛逛</a>
						</div>
					</div>
				</section>
			</div>



		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>我們提供以下服務</h2>
						<span class="byline">提升農業及園藝規劃的生產力</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>農業及園藝規劃的建議</h3>
									<p>在這裡，我們賣的不只是產品，在播種後能否長得漂亮才是重點。</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-pagelines"></span>
									<h3>庭園園藝相關</h3>
									<p>販售各式水果苗、花卉、草皮等產品</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-lemon-o"></span>
									<h3>各式果類</h3>
									<p>提供檸檬類、棗子類、芭樂類、芒果類等產品選擇</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>我們的服務人員</h2>
						<span class="byline">提供您在農業種植上的諮詢</span>
					</header>
					<div class="row">
						<div class="6u">
							<%=link_to nil do%>
								<%=image_tag 'placeholder.png'%>
							<%end%>
							<h3>林肇億</h3>
							<p>電話：0937-224211</p>
						</div>
						<div class="6u">
							<%=link_to nil do%>
								<%=image_tag 'placeholder.png'%>
							<%end%>							
							<h3>林肇群</h3>
							<p>電話：0975-806638</p>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<!--section class="container">
				<header class="major">
					<h2>聯絡我們</h2>
					
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section-->
			
			<!-- Copyright -->
				<div id="copyright">
					©茂發花果園｜屏東縣九如鄉九如路三段（趙壽山宴席廳旁）｜傳真：08-7752368<br>
					電話：0937-224211、0975-806638
				</div>			
		</div>

	</body>
</html>