<div id="sidebar" class="2u">
  <section>
    <header class="major">
      <%=form_tag products_path, method: :GET do%>
        <%=text_field_tag 'query_string', nil, placeholder: '搜尋商品', type: 'search'%>
        <%=submit_tag '搜尋'%>
      <%end%>
    </header>
    <ul class="default">
      <%categories.each do |category|%>
        <li><%=link_to category.name, products_path(type: category.id)%>(<%=category.products.count%>)</li>
      <%end%>
    </ul>
  </section>
</div>