<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<%= render partial: 'products/left_section', locals: {categories: @categories}%>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<%@products.each_with_index do |products, index|%>
				<section>
					<%=user_nav_bar_in_product index%>
					<%=breadcomb_bar index %>
					<header class="major">
						<%=header_title index %>
						<%=header_message products.first, 'byline', 'border-top:none;margin-top: 0;', index%>
					</header>
					<div class="row">
						<%products.each do |product|%>
						<div class="4u">
							<section>
								<%=link_to product_path(product) do%>
								<%=image_tag product.icon_url, class: "feature image 12u"%>
								<%end%>
								<header>
									<%=product.name%>
								</header>
								<span style="font-size:14px;"><%=product.comment%></span><br>
								優惠價：<span style="color:#FF4400; font-size:1.5em;">$<%=product.price%></span>
							</section>
						</div>
						<%end%>
					</div>
				</section>
				<%end%>
			</div>
		</div>
	</section>
</div>
<!--頁碼-->
	<%=paginate_bar @products%>
</div>