<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<%= render partial: 'products/left_section', locals: {categories: @categories}%>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%= shop_nav_bar%>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2><%=@product.name%></h2>
					</header>
					<div class="row">
						<div class="5u">
							<%=image_tag 'cargo2.jpg', class: "feature image", style: "max-width:100%;" %>
						</div>
						<div class="7u">
							<section>
								<%=form_tag new_cart_path, method: :GET do%>
								<%=hidden_field_tag 'product_id', @product.id%>
								<p style="font-size:14px; text-align:left; line-height:0;">
									優惠價：<span style="color:#FF4400; font-size:1.5em;">$<%=@product.price%></span>
									<div class="row">
										<span class="6u" style="font-size:14px; text-align:left;">
											數量：
											<%=select_tag "product_amount", options_for_select(Array.new(10) { |index| index+1 }, 1)%>
										</span>
										<span class="6u" style="font-size:14px; text-align:left;">
											庫存：<%=@product.stock%>
										</span>
									</div>
									<br>
									<%= button_tag(type: "submit", class: "red-d") do %>
									    <i class='fa fa-shopping-cart'></i>放入購物車
									<% end %>
									<%=link_to '加入追蹤清單', tracking_lists_path, class: 'blue-d'%>
								</p>
								<%end%>
								<p style="font-size:14px; text-align:left;">
									<br />
									<strong>支付：</strong><br>匯款 / 轉帳、貨到付款<br>
									<strong>運費：</strong><br>
									宅配(滿1500元,先匯款):0元<br>
									貨運(未滿1500元,先匯款):250元<br>
									貨到付款(滿1500,貨到付款):100元<br>
									貨到付款(未滿1500):350元
								</p>
							</section>
						</div>
						<div class="12u">
							<section>
								<header>
									<h3 style="text-align:left;">詳細介紹</h3><br>
								</header>
								<p style="text-align:left;">
									<%=@product.description%>
									<br />
									即日起<br />
									滿2000元『匯款者』，免運！<br />
									買越多送越多！<br />
									<br />
									『挑選贈送的果苗所產生的金額可不予理會』<br />
									<br />
									<br />
									《滿2000元匯款者、沒有把贈送的果苗加入購物車朋友；將以店家自行選擇贈送的果苗》<br />
									<br />
									(有優惠者則不贈送果苗)
								</p>
							</section>
						</div>
						<hr style="border-top:1px solid #ddd; width:100%;">
						<div class="12u">
							<section>
								<header>
									<h3 style="text-align:left;">其他商品</h3><br>
								</header>
								<div class="row">
									<%@products.each do |product|%>
									<div class="3u">
										<section>
											<%=image_tag '1905940_L.jpg', class: "feature image", style: "max-width:100%;"%>
											<header>
												<%=product.name%>
											</header>
											<span style="font-size:14px;"><%=product.comment%></span><br>
											優惠價：<span style="color:#FF4400; font-size:1.5em;">$<%=product.price%></span>
										</section>
									</div>
									<%end%>
								</div>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>