<!DOCTYPE html>
<html>
  <head>
    <title>茂發花果園</title>
    <%= stylesheet_link_tag    'application',params[:controller], media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <script type="text/javascript">

      function clearFlash(){
        $('.flash_msg').slideUp();
      };

      $('document').ready(function() {
        setTimeout(function() {
          clearFlash();
        }, 3000);
      });

    </script>
  </head>
  <body class="<%='homepage' if @controller == 'entrys'%>">
    <div class="wrapper style1">
      <!-- Header -->
      <div id="header">
        <div class="container">
          <!-- Logo -->
          <h1><%=link_to '茂發花果園', root_path, id: 'logo' if @controller != 'entrys'%></h1>
          <!-- Nav -->
          <nav id="nav">
            <ul>
              <%if @controller == 'entrys'%>
                <li class='active'><%=link_to '首頁', root_path%></li>
              <%end%>
              <li class="<%='active' if @controller == 'products'%>"><%=link_to '線上購物', products_path%></li>
              <li class="<%='active' if @controller == 'abouts'%>"><%=link_to '關於茂發', abouts_path%></li>
              <li class="<%='active' if @controller == 'services'%>"><%=link_to '線上服務', services_path%></li>
              <li class="<%='active' if @controller == 'catalogs'%>"><%=link_to '線上型錄', catalogs_path%></li>
              <li class="<%='active' if @controller == 'news'%>"><%=link_to '最新消息', news_index_path%></li>
              <li class="<%='active' if @controller == 'contacts'%>"><%=link_to '聯絡我們', contacts_path%></li>
              <li class="<%='active' if @controller == 'steps'%>"><%=link_to '購物流程', steps_path%></li>
              <li class="<%='active' if @controller == 'direct_sellings'%>"><%=link_to '農友直銷', direct_selling_path(1)%></li>
            </ul>
          </nav>
        </div>
      </div>
    
      <% flash.each do |name, msg| -%>
        <div class="flash_msg">
          <div class="notice-warning">
            <div class="notice-close" onclick="clearFlash()">&#215;</div>
            <%= content_tag :span, msg, class: name %>
          </div>
        </div>

      <% end -%>
      <%= yield %>
      <!-- Footer -->
      <div id="footer">
        <!--section class="container">
        <header class="major">
          <h2>聯絡我們</h2>
          
        </header>
        <ul class="icons">
          <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
          <li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
          <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
        <hr />
      </section-->
      
      <!-- Copyright -->
      <div id="copyright">
        ©茂發花果園｜屏東縣九如鄉九如路三段（趙壽山宴席廳旁）｜傳真：08-7752368<br>
        電話：0937-224211、0975-806638
      </div>
    </div>
  </body>
</html>
